[submodule "docker/metashrew/submodules/alkanes-rs"]
	path = docker/metashrew/submodules/alkanes-rs
	url = https://github.com/kungfuflex/alkanes-rs
[submodule "docker/metashrew/submodules/metashrew"]
	path = docker/metashrew/submodules/metashrew
	url = https://github.com/sandshrewmetaprotocols/metashrew
[submodule "system/submodules/bitcoin"]
	path = system/submodules/bitcoin
	url = https://github.com/bitcoin/bitcoin
[submodule "system/submodules/metashrew"]
	path = system/submodules/metashrew
	url = https://github.com/sandshrewmetaprotocols/metashrew
[submodule "system/submodules/alkanes-rs"]
	path = system/submodules/alkanes-rs
	url = https://github.com/kungfuflex/alkanes-rs
